<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location" value="/application.properties"/>
    </bean>

    <bean id="questionDao" class="ru.vvvresearch.homework.dao.QuestionDaoFromCSV">
        <constructor-arg value="${csvfilename.key}"/>
    </bean>


    <bean id="questionService" class="ru.vvvresearch.homework.service.QuestionServiceImpl">
        <constructor-arg name="question" ref="questionDao"/>
    </bean>

    <bean id="personDao" class="ru.vvvresearch.homework.dao.PersonDaoFromStrings">

    </bean>


    <bean id="authService" class="ru.vvvresearch.homework.service.AuthServiceImpl">
        <constructor-arg name="personDao" ref="personDao"/>
    </bean>

    <bean id="authController" class="ru.vvvresearch.homework.controller.ConsoleAuthController">
        <constructor-arg name="authService" ref="authService"/>
    </bean>

</beans>
